@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .PB-2 {
        background-image: url(./images/bg-pattern-circle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center -550px;

        position: relative;
        z-index: -1;

    }

    /* PB-2 Telefono paveikslelis*/
    .PB-2_illustration-phone-mockup {
        display: flex;
        justify-content: center;
    }

    .PB-2_illustration-phone-mockup img {

        margin-top: 32px;
        margin-left: 124px;
        margin-right: 123px;
        margin-bottom: 24px;
    }

    /* PB-2 teksto Start building dalis */

    .PB-2_content_container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .PB-2_content_container h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
        margin-bottom: 24px;


    }

    /* PB-2 Email laukas*/
    .PB-2_acheduleDemo_input {
        margin-bottom: 24px;
    }

    /* raso kad turi buti width 327px geriau naudoti 100% */
    .PB-2_acheduleDemo_input input {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: none;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        text-align: center;

    }

    #email::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
        padding-left: 27px;
        padding-right: 158px;
        padding-top: 16px;
        padding-bottom: 14px;

    }

    /* PB-2 Migtukas */
    .PB-2_acheduleDemo_button {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #BA4270;
        border: none;
        margin-top: 24px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }
    .PB-2_acheduleDemo_button:active {
        background:#DA6D97;
    }
    



    /* PB-2 Contact US dalis */
    .PB-2_contactUs {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        height: 18px;
        margin-right: 76px;
        margin-left: 74px;
        margin-top: 24px;
        margin-bottom: 79px;

    }

    .PB-2_contactUs a {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
    }




    .PB-3 {
        background-color: #1B262F;
        position: relative;
        z-index: -1;
    }

    .PB-3_grid-container {
        background-color: #1B262F;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        /* width: 375px; */
    }

    .grid-item_1 {
        margin-top: 85.87px;
        margin-bottom: 44.13px;
        margin-left: 50px;
    }

    .grid-item_2 {
        margin-top: 80px;
        margin-right: 48.02px;
        margin-bottom: 42.25px;
    }

    .grid-item_3 {
        margin-left: 48px;
        margin-bottom: 40px;
    }

    .grid-item_4 {
        margin-right: 47.41px;
        margin-bottom: 48.01px;
    }

    .grid-item_5 {
        margin-left: 56px;
        margin-bottom: 56px;
    }

    .grid-item_6 {
        margin-right: 55.51px;
        margin-bottom: 57.73px;
    }

    /* Atstumai tarp elementų */

    .grid-item_2 {
        margin-left: 49.98px;
        /* Atstumas tarp 1 ir 2 */
    }

    .grid-item_4 {
        margin-left: 56.59px;
        /* Atstumas tarp 3 ir 4 */
    }

    /* Atstumas tarp 5 ir 6 klaida ismatavimuose raso 71.49px*/
    .grid-item_6 {
        margin-left: 49.98px;
    }

    /* margin-right  klaida atstuma raso 170px */
    .grid-item_1 img {
        margin-top: 5.87px;
        margin-right: 1.7px;
        margin-bottom: 5.13px;
        filter: brightness(0) invert(1);
    }

    /* margin-left klaida raso 157px */
    .grid-item_2 img {
        margin-left: 1.57px;
        margin-right: 0.02px;
        filter: brightness(0) invert(1);
    }

    /* margin-right klaida raso 165px */
    .grid-item_3 img {
        margin-right: 1.65px;
        filter: brightness(0) invert(1);

    }

    /* margin-left klaida raso 172px  */
    .grid-item_4 img {
        margin-top: 3.26px;
        margin-bottom: 4.74px;
        margin-left: 1.72px;
        margin-right: 0.41px;
        filter: brightness(0) invert(1);
    }

    /* margin-right klaida raso 185px */
    .grid-item_5 img {
        margin-right: 1.85px;
        filter: brightness(0) invert(1);
    }

    /* margin-left klaida raso 150px */
    .grid-item_6 img {
        margin-top: 3.27px;
        margin-bottom: 1.73px;
        margin-left: 1.50px;
        margin-right: 0.51px;
        filter: brightness(0) invert(1);
    }

    .PB-3_teks_container {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
        background-color: #1B262F;
    }

    .PB-3_teks_container>div:first-child {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
        width: auto;
        color: #FBFCFE;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
    }

    .PB-3_tekst {
        width: auto;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 60px;
    }

    /* panaudoju display flex kad migtukas isliktu viduryje  */
    .PB-3_button {
        display: flex;
        justify-content: center;
        margin-left: 99px;
        margin-right: 99px;

    }
    
    .PB-3_button button {
        width: 129px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        margin-bottom: 60px;
        border: 1px solid #FBFCFE;
        background-color: #1B262F;
    }
    
    .PB-3_button button span {
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
        padding-top: 16px;
        padding-bottom: 14px;
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 24px;
    }
    
    .PB-3_button button:active {
        background-color: #FBFCFE;
        color: #1B262F;
    }
    .PB-3_button button span:active{
        background-color: #FBFCFE;
        color: #1B262F;
    }
}


/* Tablet dalis dar nepardeta  */

/* Dar netikrink :D */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .PB-2 {}

    /* PB-2 Telefono paveikslelis*/
    .PB-2_illustration-phone-mockup {
        display: flex;
        justify-content: center;
    }

    .PB-2_illustration-phone-mockup img {

        margin-top: 32px;
        margin-left: 124px;
        margin-right: 123px;
        margin-bottom: 24px;
    }

    /* PB-2 teksto Start building dalis */

    .PB-2_content_container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .PB-2_content_container h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
        margin-bottom: 24px;


    }

    /* PB-2 Email laukas*/
    .PB-2_acheduleDemo_input {
        margin-bottom: 24px;
    }

    /* raso kad turi buti width 327px geriau naudoti 100% */
    .PB-2_acheduleDemo_input input {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: none;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25)
    }

    #email::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
        padding-left: 27px;
        padding-right: 158px;
        padding-top: 16px;
        padding-bottom: 14px;

    }

    /* PB-2 Migtukas */
    .PB-2_acheduleDemo_button {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #BA4270;
        border: none;
        margin-top: 24px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }
    .PB-2_acheduleDemo_button:hover {
        background:#DA6D97;
    }

    /* PB-2 Contact US dalis */
    .PB-2_contactUs {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        height: 18px;
        margin-right: 76px;
        margin-left: 74px;
        margin-top: 24px;
        margin-bottom: 79px;

    }

    .PB-2_contactUs a {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
    }




    .PB-3 {
        background-color: #1B262F;
    }

    .PB-3_grid-container {
        background-color: #1B262F;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        /* width: 375px; */
    }

    .grid-item_1 {
        margin-top: 85.87px;
        margin-bottom: 44.13px;
        margin-left: 50px;
    }

    .grid-item_2 {
        margin-top: 80px;
        margin-right: 48.02px;
        margin-bottom: 42.25px;
    }

    .grid-item_3 {
        margin-left: 48px;
        margin-bottom: 40px;
    }

    .grid-item_4 {
        margin-right: 47.41px;
        margin-bottom: 48.01px;
    }

    .grid-item_5 {
        margin-left: 56px;
        margin-bottom: 56px;
    }

    .grid-item_6 {
        margin-right: 55.51px;
        margin-bottom: 57.73px;
    }

    /* Atstumai tarp elementų */

    .grid-item_2 {
        margin-left: 49.98px;
        /* Atstumas tarp 1 ir 2 */
    }

    .grid-item_4 {
        margin-left: 56.59px;
        /* Atstumas tarp 3 ir 4 */
    }

    /* Atstumas tarp 5 ir 6 klaida ismatavimuose raso 71.49px*/
    .grid-item_6 {
        margin-left: 49.98px;
    }

    /* margin-right  klaida atstuma raso 170px */
    .grid-item_1 img {
        margin-top: 5.87px;
        margin-right: 1.7px;
        margin-bottom: 5.13px;
        filter: brightness(0) invert(1);
    }

    /* margin-left klaida raso 157px */
    .grid-item_2 img {
        margin-left: 1.57px;
        margin-right: 0.02px;
        filter: brightness(0) invert(1);
    }

    /* margin-right klaida raso 165px */
    .grid-item_3 img {
        margin-right: 1.65px;
        filter: brightness(0) invert(1);

    }

    /* margin-left klaida raso 172px  */
    .grid-item_4 img {
        margin-top: 3.26px;
        margin-bottom: 4.74px;
        margin-left: 1.72px;
        margin-right: 0.41px;
        filter: brightness(0) invert(1);
    }

    /* margin-right klaida raso 185px */
    .grid-item_5 img {
        margin-right: 1.85px;
        filter: brightness(0) invert(1);
    }

    /* margin-left klaida raso 150px */
    .grid-item_6 img {
        margin-top: 3.27px;
        margin-bottom: 1.73px;
        margin-left: 1.50px;
        margin-right: 0.51px;
        filter: brightness(0) invert(1);
    }

    .PB-3_teks_container {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
        background-color: #1B262F;
    }

    .PB-3_teks_container>div:first-child {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
        width: auto;
        color: #FBFCFE;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
    }

    .PB-3_tekst {
        width: auto;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-left: 24px;
        margin-right: 24px;
    }

    /* panaudoju display flex kad migtukas isliktu viduryje  */
    .PB-3_button {
        display: flex;
        justify-content: center;
        margin-left: 99px;
        margin-right: 99px;
        margin-top: 60px;
    }
    
    .PB-3_button button {
        width: 129px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        margin-bottom: 60px;
        border: 1px solid #FBFCFE;
        background-color: #1B262F;
    }
    
    .PB-3_button button span {
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
        padding-top: 16px;
        padding-bottom: 14px;
        padding-right: 32px;
        padding-left: 32px;
        border-radius: 24px;
    }
    
    .PB-3_button button:hover {
        background-color: #FBFCFE;
        color: #1B262F;
    }
    .PB-3_button button :hover{
        background-color: #FBFCFE;
        color: #1B262F;
    }
}