* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-PB4-main-box {
  width: 375px;
  height: 481px;
  background: #edf3f8;
  font-size: 36px;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  margin: 0 auto;
}

.main-PB4-bash-text {
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 50px;
  width: 328px;
  height: 209px;
}

.main-PB4-bash-text img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(20px 20px 40px grey);
  /* border-radius: 5px; */
}

.main-PB4-text-easy {
  width: 328px;
  height: 144px;
}

.main-PB4-h2-text {
  color: #36536b;
  font-size: 36px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 24px;
  padding-left: 30px;
}

.main-PB4-p-text {
  color: #6c8294;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  text-align: center;
  padding-left: 20px;
}
