@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100&display=swap');
/*font-family: 'DM Serif Display', serif;*/ /*gal reiks*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

body{
	margin: auto;
}

.PB18{					/*Ready to Start? group*/
	min-width: 375px;
	height: 180px;
	background: #EDF3F8;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.readyToStart{			/*Ready to Start? class*/
	color: #36536B;
	text-align: center;
	font-family: DM Serif Display;
	font-size: 32px;
	font-style: normal;
	/*font-weight: 400px;*/
	line-height: 36px;
	letter-spacing: -0.246px;
	margin-top: 0px;
	margin-bottom: 32px;
}

.eMail_Demo{			/*Mobile version - emailbox and Demobutton arguments*/
	display: flex;
	flex-direction: column;
	align-items: center;
}
.eMailBox{				/*Mobile version - email box arguments*/
	width: 327px;
	height: 48px;
	border-radius:24px;
	background: #FBFCFE;
	border: none;
	color: #36536B;
	box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
	margin-bottom: 16px;
}

#eMailText{						/*Mobile version - email font arguments*/
	color: #36536B;
	font-family: 'Public Sans', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	opacity: 0.5;
	margin-left: 27px;
	opacity: 0.5;
}

#eMailText:hover{
	cursor: pointer;
	border: none;
}

.demoButton{			/*Mobile version - Schedule a Demo*/
	width: 327px;
	height: 48px;
	border-radius:24px;
	border: none;
	background: #BA4270;
	color: #FBFCFE;
	font-family: Public Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
}

.demoButton:hover{
	background: #DA6D97;
	cursor: pointer;
}

.PB19{					/*Mobile version - Footer group*/
	min-width: 375px; 
    height: 353px;
	background: #1B262F;
	z-index: -1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

a {							/*Mobile version - parameters of links to other pages */
	text-decoration: none;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #FBFCFE;
	opacity: 0.7;
	font-size: 15px;
	font-family: 'Public sans', sans-serif;
	cursor: pointer;
	margin: 0 12px 0 12px;
}	
a:hover{
	opacity: 1.0;
}

.imgPayapi, .imgSocNet{
	margin-top: 38px;
	margin-bottom: 37px; 
}

.group41{				/*Navigation */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FBFCFE;
	gap: 31px;
	z-index: 2;
	border: none;
	background: none;
}

.socNet{
	margin: 0 12px 0 12px; 
	cursor: pointer;
	z-index: 2;
}
.footerCircle{
	z-index: 1;
	display: block;
	width: 780px;
	height: 780px;
	flex-shrink: 0;
	border-radius: 780px;
	background: #36536B;
	margin-top: -159px;
	opacity: 0.2;
	object-fit: cover;
}

@media screen and (min-width: 768px) {		/*Tablet*/
	.PB18{					/*Tablet version - Ready to Start? part*/
		width: 100%;
		height: 144px;
		background: #EDF3F8;
	}

	.eMail_Demo{			/*Tablet version - emailbox and Demobutton arguments*/
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.readyToStart{			/*Tablet version - Ready to start? text*/
		width: 445px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: center; 
	}

	.eMailBox{				/*Tablet version - email box arguments*/
		width: 445px;
		margin-bottom: 0px;		
	}

	.demoButton{			/*Tablet version - */
		width: 173px;
		margin-left: -173px;
	}

	.PB19{					/*Tablet version - Footer part*/
		width: 100%;
		height: 100px;
		background: #1B262F;
		display: flex;
		flex-direction: row;
		align-items: center; 
	}

	.group41{				/*Tablet version - Navigation */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		color: #FBFCFE;
		gap: 40px;
	}
	.imgPayapi{				/*Tablet version - Payapi image*/
		margin-left: 39px;
		margin-right: 31px;
	}

	.imgSocNet{				/*Tablet version - Payapi image*/
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.socNet{				/*Tablet version - SocNet group*/
		margin: 0 12px 0 137px; 
		display: flex;
		flex-direction: row;
		align-items: center; 
	}
		
	.footerCircle{			/*Tablet version - circle*/
		margin-top: 450px;
		margin-left: -405px;
	}
}

@media screen and (min-width: 1440px) {		/*Desktop*/
	.PB18{					/*Desktop version - Ready to Start? part*/
		width: 100%;
		height: 56px;
		flex-direction: row;
		justify-content: space-between;
	}

	.readyToStart{			/*Desktop version - ready to start? text*/
		text-align: left;
		font-size: 48px;
		line-height: 56px;
		letter-spacing: -0.369px;
		margin-top: auto;
		margin-bottom: auto; 
		margin-left: 165px;
	}

	.eMail_Demo{			/*Desktop version - emailbox and Demobutton arguments*/
		margin-right: 165px;
	}

	.PB19{					/*Desktop version - Footer part*/
		justify-content: center;
		width: 100%;
		height: 100px;
		background: #1B262F;
		flex-direction: row;
	}

	.imgPayapi{				/*Desktop version - Payapi image*/
		margin-left: 164px;
		margin-right: 31px;
	}

	.socNet{				/*Desktop version - SocNet group*/
		margin-right: 164px; 
		
	}

	.footerCircle{			/*Desktop version - circle*/
		margin-top: 450px;
		margin-left: -405px;
	}
}