* {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 767px) {

    /* --------------------------------------------------------------------------------------PB-2-MOBILE */
    .PB-2_background {
        background-image: url(../../IMG/bg-pattern-circle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -550px;
        z-index: 1;
        height: 780px;
        width: 100%;
        min-width: 375px;
    }

    .PB-2 {
        min-width: 375px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #EDF3F8;

    }

    /* PB-2 Telefono paveikslelis*/
    .PB-2_illustration-phone-mockup {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .PB-2_illustration-phone-mockup img {
        margin-top: 110px;
        margin-left: 124px;
        margin-right: 123px;
        margin-bottom: 24px;
        /* width: 128px; */
        height: 240px;
        z-index: 2;
    }

    /* PB-2 teksto Start building dalis */
    .PB-2_content_container {
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .PB-2_content_container h1 {
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
        margin-bottom: 24px;
        width: 327px;
    }

    .PB-2_acheduleDemo_input input {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }


    /* PB-2 Email laukas*/
    .PB-2_acheduleDemo_input input {
        width: 327px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: none;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        margin-bottom: 24px;
        text-indent: 27px;
    }


    #email::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
    }
   #emailas::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
    }
    /* PB-2 Migtukas */
    .PB-2_acheduleDemo_button {
        width: 327px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #BA4270;
        border: none;
        color: #FBFCFE;

        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }

    .PB-2_acheduleDemo_button:active {
        background: #DA6D97;
    }

    /* PB-2 Contact US dalis */
    .PB-2_contactUs p {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-style: normal;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        margin-top: 24px;
        margin-bottom: 79px;
    }

    .PB-2_contactUs a {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        margin: 0;
    }

    .PB-2_h1,
    .PB-2_acheduleDemo_input,
    .PB-2_contactUs {
        text-align: center;
    }


    /* ------------------------------------------------------------------------------------------------PB-3-MOBILE */
    .PB-3 {
        background-color: #1B262F;
        width: 100%;
        height: auto;
        min-width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .PB-3_grid-container {
        background-color: #1B262F;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        width: 375px;
    }

    .grid-item_1 {
        padding-top: 85.87px;
        padding-bottom: 44.13px;
        padding-left: 50px;
    }

    .grid-item_2 {
        padding-top: 80px;
        padding-right: 48.02px;
        padding-bottom: 42.25px;
    }

    .grid-item_3 {
        padding-left: 48px;
        padding-bottom: 40px;
    }

    .grid-item_4 {
        padding-right: 47.41px;
        padding-bottom: 48.01px;
    }

    .grid-item_5 {
        padding-left: 56px;
        padding-bottom: 56px;
    }

    .grid-item_6 {
        padding-right: 55.51px;
        padding-bottom: 57.73px;
    }

    /* Atstumai tarp elementų */

    .grid-item_2 {
        padding-left: 49.98px;
        /* Atstumas tarp 1 ir 2 */
    }

    .grid-item_4 {
        padding-left: 56.59px;
        /* Atstumas tarp 3 ir 4 */
    }

    .grid-item_6 {
        padding-left: 49.98px;
    }

    .grid-item_1 img {
        filter: brightness(0) invert(1);
        height: 15px;
        width: 107px;
    }

    .grid-item_2 img {
        filter: brightness(0) invert(1);
        height: 26px;
        width: 120px;
    }

    .grid-item_3 img {
        filter: brightness(0) invert(1);
        height: 22px;
        width: 115px;
    }

    .grid-item_4 img {
        filter: brightness(0) invert(1);
        height: 14px;
        width: 108px;
    }

    .grid-item_5 img {
        filter: brightness(0) invert(1);
        height: 27px;
        width: 79px;
    }

    .grid-item_6 img {
        filter: brightness(0) invert(1);
        height: 22px;
        width: 113px;
    }

    .PB-3_teks_container {
        background-color: #1B262F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .PB-3_teks_container>div:first-child {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 16px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.246px;
    }

    .PB-3_tekst {
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 60px;
        width: 327px;
    }

    .PB-3_button button {
        width: 129px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        margin-bottom: 60px;
        border: 1px solid #FBFCFE;
        background-color: #1B262F;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        letter-spacing: -0.12px;
        color: #FBFCFE;
    }

    .PB-3_button button:active {
        background-color: #FBFCFE;
        color: #1B262F;
    }

}

/* ----------------------------------------------------------------------------------------------Mobile-done */


/* -----------------------------------------------------------------------------------------------Tablet PB-2 */
@media (min-width: 768px) and (max-width:1024px) {

    .PB-2_background {
        background-image: url(../../IMG/bg-pattern-circle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -663px;
        height: 949px;
        width: 100%;
        z-index: 1;


    }

    .PB-2 {
        min-width: 768px;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #EDF3F8;
        z-index: -1;

    }

    /* PB-2 Telefono paveikslelis*/
    .PB-2_illustration-phone-mockup {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .PB-2_illustration-phone-mockup img {
        margin-top: 136px;
        margin-left: 306.55px;
        margin-right: 305.68px;
        margin-bottom: 0px;
        width: 141px;
        height: 279px;
        z-index: 2;
    }

    /* PB-2 teksto Start building dalis */

    .PB-2_content_container {
        padding: 97px;
        padding: 98px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 48.34px;
    }

    .PB-2_content_container h1 {
        color: #36536B;
        text-align: center;
        height: 122px;
        width: 573px;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
        margin-bottom: 22px;
    }

    /* PB-2 Email laukas*/
    .PB-2_acheduleDemo_input {
        display: flex;
        flex-direction: row;
        height: 48px;
        padding-left: 65px;
        margin-left: 63px;

    }

    .PB-2_acheduleDemo_input input {
        width: 445px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: none;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        text-indent: 27px;
    }

    #email::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
    }
 #emailas::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        opacity: 50%;
    }
    /* PB-2 Migtukas */
    .PB-2_acheduleDemo_button {
        width: 173px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #BA4270;
        border: none;
        position: relative;
        bottom: 15px;


        right: 173px;
        color: #FBFCFE;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 17.63px;
        letter-spacing: -0.12px;
        margin-left: 26.5px;
        margin-right: 24.5px;
        margin-top: 16px;
        margin-bottom: 14px;
        height: 48px;
    }

    .PB-2_acheduleDemo_button:active {
        background: #DA6D97;
    }

    /* PB-2 Contact US dalis */
    .PB-2_contactUs {
        height: 18px;
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        line-height: 17.63px;
        margin-top: 27px;

    }

    .PB-2_contactUs a {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        margin: 0%;
    }

    /* -----------------------------------------------------------------------------------------------PB-3-Tablet */
    .PB-3 {
        background-color: #1B262F;
        min-width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .PB-3_grid-container {
        background-color: #1B262F;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 768px;
    }

    .grid-item_1 {
        padding-top: 95px;
        padding-bottom: 54px;
        padding-left: 116px;

    }

    .grid-item_2 {
        padding-top: 88px;
        padding-bottom: 39px;

    }

    .grid-item_3 {
        padding-top: 90px;
        padding-bottom: 45px;
        padding-right: 116px;

    }

    .grid-item_4 {
        padding-bottom: 72px;
        padding-left: 116px;

    }

    .grid-item_5 {

        padding-bottom: 64px;
    }

    .grid-item_6 {
        padding-right: 116px;
        padding-bottom: 67px;
    }

    /* Atstumai tarp elementų */
    /* atstumas tarp 1 ir 2 */
    .grid-item_2 {
        padding-left: 62px;
    }

    /* atstumas tarp 2 ir 3  */
    .grid-item_3 {
        padding-left: 60px;
    }

    /* atstumas tarp 4 ir 5 */
    .grid-item_5 {
        padding-left: 85px;
    }

    /* atstumas tarp 5 ir 6 */
    .grid-item_6 {
        padding-left: 60px;
    }

    .grid-item_1 img {
        filter: brightness(0) invert(1);
        height: 17px;
        width: 129px;

    }

    .grid-item_2 img {
        filter: brightness(0) invert(1);
        height: 31px;
        width: 145px;
    }

    .grid-item_3 img {
        filter: brightness(0) invert(1);
        height: 27px;
        width: 140px;
    }

    .grid-item_4 img {
        filter: brightness(0) invert(1);
        height: 17px;
        width: 131px;
    }

    .grid-item_5 img {
        filter: brightness(0) invert(1);
        height: 33px;
        width: 96px;
    }

    .grid-item_6 img {
        filter: brightness(0) invert(1);
        height: 26px;
        width: 137px;
    }

    .PB-3_teks_container {
        margin-left: 155px;
        margin-right: 156px;
        background-color: #1B262F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .PB-3_teks_container>div:first-child {
        width: 457px;
        margin-bottom: 24px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.37px;
    }

    .PB-3_tekst {
        width: 456px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 70%;
        margin-bottom: 32px;

    }

    .PB-3_button button {
        width: 129px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        margin-bottom: 60px;
        border: 1px solid #FBFCFE;
        background-color: #1B262F;
        margin-bottom: 88px;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.63px;
        letter-spacing: -0.12px;
    }

    .PB-3_button button:active {
        background-color: #FBFCFE;
        color: #1B262F;
    }

}

/* ----------------------------------------------------------------------------------------Tablet-Done---------------- */

/*----------------------------------------------------------------------------------------PB-2--------------- Dekstop */
@media (min-width: 1024px) {
    .PB-2_background {
        background-image: url(../../IMG/bg-pattern-circle.svg);
        position: absolute;
        top: -172px;
        left: 800px;
        z-index: -1;
        height: 780px;
        width: 780px;
        z-index: 1;
    }

    .PB-2_background img {
        width: 780px;
        height: 760px;
    }

    .PB-2 {
        background-color: #EDF3F8;
        z-index: -1;
        
    }

    /* PB-2 Telefono paveikslelis*/
    .PB-2_illustration-phone-mockup img {
        position: relative;
        top: 162.57px;
        left: 919.57px;
        width: 257.65px;
        height: 498.86px;
        z-index: 2;
    }

    /* PB-2 teksto Start building dalis */
    .PB-2_content_container {
        position: relative;
        width: 546px;
        height: 243px;
        bottom: 254px;
        left: 165px;
        right: 729px;

    }

    .PB-2_h1 h1 {
        font-family: 'DM Serif Display', serif;
        font-size: 72px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.554px;
        color: #36536B;
    }

    /* PB-2 Email laukas*/
    .PB-2_acheduleDemo_input {
        display: flex;
        justify-content: row;
        height: 48px;
        width: 445px;
        margin-top: 21px;
        margin-bottom: 16px;
    }

    /* PB-2 Migtukas */
    .PB-2_acheduleDemo_input input {
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: none;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        padding-left: 27px;

    }

    #email::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        opacity: 50%;
    }
    #emailas::placeholder {
        color: #36536B;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        opacity: 50%;
    }
    .PB-2_acheduleDemo_button {
        width: 173px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #BA4270;
        border: none;
        position: relative;
        right: 173px;
        color: #FBFCFE;
        cursor: pointer;

        color: #FBFCFE;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
    }

    .PB-2_acheduleDemo_button:hover {
        background: #DA6D97;
    }

    /* PB-2 Contact US dalis */
    .PB-2_contactUs {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700px;
        text-align: center;
        height: 18px;
        margin-right: 294px;
        margin-left: 27px;
        margin-bottom: 152px;
        line-height: 17.63px;
        width: 300px;
    }

    .PB-2_contactUs a {
        color: #6C8294;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        margin: 0%;
    }

    /* -------------------------------------------------------------------------------------PB-3----Dekstop */

    .PB-3 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #1B262F;
        width: 100%;

    }

    .PB-3_grid-container {
        background-color: #1B262F;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        width: 100%;

    }

    .grid-item_1 {
        padding-top: 95px;
        padding-left: 116px;
        padding-right: 62px;
    }

    .grid-item_2 {
        padding-top: 88px;
        padding-right: 60px;
        padding-bottom: 39px;
    }

    .grid-item_3 {
        padding-top: 90px;
        padding-bottom: 45px;
        padding-right: 116px;
    }

    .grid-item_4 {
        padding-left: 116px;
        padding-right: 132px;
        padding-bottom: 72px;
    }

    .grid-item_5 {
        padding-right: 110px;
        padding-bottom: 64px;
        padding-left: 25px;
    }

    .grid-item_6 {
        padding-left: 3px;
        padding-right: 116px;
        padding-bottom: 67px;

    }

    .grid-item_1 img {
        filter: brightness(0) invert(1);
        height: 17px;
        width: 129px;
    }

    .grid-item_2 img {
        filter: brightness(0) invert(1);
        height: 31px;
        width: 145px;
    }


    .grid-item_3 img {
        filter: brightness(0) invert(1);
        height: 27px;
        width: 140px;
    }

    .grid-item_4 img {
        filter: brightness(0) invert(1);
        height: 17px;
        width: 131px;
    }

    .grid-item_5 img {
        filter: brightness(0) invert(1);
        height: 33px;
        width: 96px;
    }

    .grid-item_6 img {
        filter: brightness(0) invert(1);
        height: 26px;
        width: 137px;
    }

    .PB-3_teks_container {
        margin-left: 165px;
        /* margin-right: 131px; */
        margin-bottom: 100px;
        margin-top: 100px;
        background-color: #1B262F;
        width: 445px;
        height: auto;

    }

    .PB-3_teks_container>div:first-child {
        margin-bottom: 24px;
        color: #FBFCFE;
        font-family: 'DM Serif Display', serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.37px;
        width: 445px;
        height: 56px;
    }

    .PB-3_tekst {
        width: 445px;
        height: 112px;
        color: #FBFCFE;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin-bottom: 32px;
    }

    .PB-3_button button {
        width: 129px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 24px;
        border: 1px solid #FBFCFE;
        background-color: #1B262F;
        color: #FBFCFE;
        text-align: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
        cursor: pointer;
    }

    .PB-3_button button:hover {
        background-color: #FBFCFE;
        color: #1B262F;
    }
}
